doctype html
html
  head
    meta(charset="utf8")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans")
  body
    .main-wrapper

      .tree-container
        .star
        .spiral-container
          ul.spiral.one
            - for (var x = 1; x <=43; x++)
              li.light-wrapper(
                class="light-wrapper-"+x
              )
                .stabilise: .light

          ul.spiral.two
            - for (var x = 1; x <=43; x++)
              li.light-wrapper(
                class="light-wrapper-"+x
              )
                .stabilise: .light

          ul.spiral.three
            - for (var x = 1; x <=43; x++)
              li.light-wrapper(
                class="light-wrapper-"+x
              )
                .stabilise: .light

      .text-container
        //- h2 The best is yet to come
        h2.happy Merry Christmas and Happy New Year
