doctype html
html
  head
    meta(charset="utf8")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans")
  body
    div
      include /partials/player.pug
      p.
        Hello from page2
        
    #Reel-Player-BG.light-gradient-bg.RP-wrap
      b Click HERE to Re-Run.
      .SafariBUGwrapper
        .reel-player-cont.amb-heavy-shadow(id='')
          .rp-img-cont
            img#RP-GoldSands_DE.player-img(src='https://scontent-sjc3-1.cdninstagram.com/vp/4a3f1a5731b687d1e22a7357ca2455f6/5CB856DB/t51.2885-15/e35/13108797_1747509432137535_1773063117_n.jpg?_nc_ht=scontent-sjc3-1.cdninstagram.com')
          .player-bar-top(id='')
            h1(id='') Capstone Reel
            h2(id='') Drew Endly
            p
              | Skip
              i.material-icons navigate_next
          .player-bar-btm(id='')
            .volume-slide-cont
              .slider_horizontal
                .progress
                  .handle
            #Play-Pause.center-button
              svg#Play-SVG-Circle
                circle#Circle-Outline(cy='50%' cx='50%' r='21em')
                circle#Circle-Fill(cy='50%' cx='50%' r='21em')
                circle#Circle-gsap(cy='50%' cx='50%' r='21em')
              i.material-icons play_arrow
            .btm-right-cont
              i.material-icons.i-fullscreen code
            #img-flex
              img#Btm-Img-Blur(src='https://scontent-sjc2-1.cdninstagram.com/t51.2885-15/e35/10655025_591989287644242_1826578012_n.jpg')
          .video-cont(id='')
            #DE_Reel.video-BG
              iframe#video(src='https://player.vimeo.com/video/127668527#t=0m33s?api=1&player_id=video' webkitallowfullscreen='' mozallowfullscreen='' allowfullscreen='')
      #volume-result
