.rabbit-lyrics.happy(data-media='#audio-1', data-view-mode='mini')
  | [00:00.00]
  | [00:00.15]We Wish You
  | [00:03.38]a Merry Christmas
  | [00:06.15]We Wish You
  | [00:08.71] a Merry Christmas
  | [00:11.68]We Wish You
  | [00:13.42] a Merry Christmas
  | [00:19.04]and a ...
  | [00:22.49]Happy New Year


//- audio#audio-1(controls)
//-   source(src="https://twopix.gr/newsletter/xmas16/songs/BlueDucks_FourFlossFiveSix.ogg" type="audio/ogg")
//-   source(src="https://twopix.gr/newsletter/xmas16/songs/BlueDucks_FourFlossFiveSix.mp3" type="audio/mpeg")

