
audio#audio-1(controls)
  source(src="http://twopix.gr/newsletter/xmas16/songs/BlueDucks_FourFlossFiveSix.ogg" type="audio/ogg")
  source(src="http://twopix.gr/newsletter/xmas16/songs/BlueDucks_FourFlossFiveSix.mp3" type="audio/mpeg")

.rabbit-lyrics(data-media='#audio-1', data-view-mode='mini')
  | [00:00.00]by George Michael
  | [00:17.70]Last Christmas I gave you my heart
  | [00:22.02]But the very next day you gave it away
  | [00:26.61]This year to save me from tears
  | [00:31.02]I will give it to someone special
  | [00:35.80]Last Christmas I gave you my heart
  | [00:39.91]But the very next day you gave it away
  | [00:44.60]This year to save me from tears
  | [00:48.90]I will give it to someone special
  | [01:11.70]Once bitten and twice shy
  | [01:16.41]I keep my distance
  | [01:18.10]But you still catch my eye
  | [01:21.11]Tell me baby
  | [01:22.70]Do you recognize me
  | [01:25.42]Well It is been a year
  | [01:27.51]It doesn′t surprise me
  | [01:30.00]I wrapped it up and sent it
  | [01:34.10]With a note saying I love you I meant it
  | [01:38.81]Now I know what a fool I have been
  | [01:42.30]But if you kissed me now
  | [01:44.52]I know You had fool me again
  | [01:47.81]Last Christmas I gave you my heart
  | [01:51.40]But the very next day you gave it away
  | [01:56.30]This year to save me from tears
  | [02:00.51]I will give it to someone special
  | [02:04.41]Last Christmas I gave you my heart
  | [02:09.42]But the very next day you gave it away
  | [02:14.32]This year to save me from tears
  | [02:18.70]I will give it to someone special
  | [02:42.11]A crowded room friends with tired eyes
  | [02:46.41]I am hiding from you and your soul of ice
  | [02:50.72]My god I thought you were someone to rely on
  | [02:54.81]Me I guess I was a shoulder to cry on
  | [02:59.22]A face on a lover with a fire in his heart
  | [03:03.71]A man under cover but you tore me apart
  | [03:12.32]Now I have found a real love you′ll never fool me again
  | [03:17.21]Last Christmas I gave you my heart
  | [03:21.41]But the very next day you gave it away
  | [03:26.00]This year to save me from tears
  | [03:30.30]I will give it to someone special
  | [03:35.11]Last Christmas I gave you my heart
  | [03:39.51]But the very next day you gave it away
  | [03:44.01]This year to save me from tears
  | [03:48.41]I will give it to someone special
  | [03:53.11]A face on a lover with a fire in his heart
  | [03:57.52]A man under cover but you tore him apart
  | [04:01.91]Maybe next year I will give it to someone
  | [04:08.61]I will give it to someone special
  | [04:14.60] www.twopix.gr
